@{
  Layout = "_Layout";
}

@using PierresTreats.Models;
@if (User.Identity.IsAuthenticated)
{
<hr>
<h3>Welcome to Pierre's Treats, @User.Identity.Name!</h3>
<hr>
}
else
{
<hr>
<h3>Welcome to Pierre's Treats!</h3>
<p>Log in to view your saved treats</p>
<hr>
}

@if (User.Identity.IsAuthenticated)
{
  <div class="card mt-4">
    <div class="card-header">
      <h4 class="card-title">Treats - (@Model["treats"].Length)</h4>
    </div>
    <div class="card-body">
      @if (Model["treats"].Length == 0)
      {
        <p>No flavors have been added yet!</p>
      } 
      <ul>
        @foreach (Treat treat in Model["treats"])
        {
          <li class="listitems">@Html.ActionLink(@treat.TreatName, "Details", "Treats", new { id = @treat.TreatId})</li>
        }
      </ul>
    </div>
  </div>
}
else
{
<div class="card mt-4">
  <div class="card-header">
    <h4 class="card-title">Treats</h4>
  </div>
  <div class="card-body">
    <p>Please @Html.ActionLink("log in", "LogIn", "Account") to view or manage your treats.</p>
  </div>
</div>
}

<div class="card mt-4">
  <div class="card-header">
    <h4 class="card-title">Flavors - (@Model["flavors"].Length)</h4>
  </div>
  <div class="card-body">
    @if (Model["flavors"].Length == 0)
    {
      <p>No flavors have been added yet!</p>
    } 
    <ul>
      @foreach (Flavor flavor in Model["flavors"])
      {
        <li class="listitems">@Html.ActionLink(@flavor.FlavorName, "Details", "Flavors", new { id = @flavor.FlavorId})</li>
      }
    </ul>
  </div>
</div>